<hr>
<div class="row">
    
    <div class="col">
        <div class="contenedorSlider container text-center" >
            <div id="carouselExampleControls" class="carousel slide container" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
        <a href="#!/sport">  <img class="imgRectanVer" src="img/sport/imgFrany401.jpg" alt="First slide"></a>
        </div>
        <div class="carousel-item">
                <a href="#!/sport">     <img class="imgRectanVer" src="img/sport/imgFrany404.jpg" alt="Second slide" ></a>
        </div>
        <div class="carousel-item ">
            <a href="#!/sport"><img class="imgRectanVer" src="img/sport/imgFrany410.jpg" alt="Third slide"></a>
        </div>
        
      </div>
      <a class="carousel-control-prev" href="#!/Blogs" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" ></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#!/Blogs" role="button" data-slide="next">
        <span class="carousel-control-next-icon" ></span>
        <span class="sr-only">Next</span>
      </a>
    <h1 class="container text-center alert-light">Sport</h1>
     </div>  
    </div>
    </div>
    <div class="col">
            <div class="contenedorSlider container text-center" >
                <div id="carouselExampleControls" class="carousel slide container" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
                    <a href="#!/fashion"><img class="imgRectanVer" src="img/fotofashion/imgFrany301.jpg" alt="First slide" height="500" width="300"></a>
            </div>
            <div class="carousel-item">
                    <a href="#!/fashion"><img class="imgRectanVer" src="img/fotofashion/imgFrany302.jpg" alt="Second slide" height="500" width="300"></a>
            </div>
            <div class="carousel-item ">
                    <a href="#!/fashion"><img class="imgRectanVer" src="img/fotofashion/imgFrany303.jpg" alt="Third slide" height="500" width="300"></a>
            </div>
          </div>
          <a class="carousel-control-prev" href="#!/Blogs" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" ></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#!/Blogs" role="button" data-slide="next">
            <span class="carousel-control-next-icon" ></span>
            <span class="sr-only">Next</span>
          </a>
        <h1 class="container text-center alert-light">Fashion</h1>
         </div>  
        </div>
        </div>
        <div class="col">
                <div class="contenedorSlider container text-center" >
                    <div id="carouselExampleControls" class="carousel slide container" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                   <a href="#!/lingeiri"><img class="imgRectanVer" src="img/lingerie/imgFrany201.jpeg" alt="First slide"></a>
                </div>
                <div class="carousel-item">
                   <a href="#!/lingeiri"><img class="imgRectanVer" src="img/lingerie/imgFrany203.jpg" alt="Second slide" ></a>
                </div>
                <div class="carousel-item ">
                   <a href="#!/lingeiri"><img class="imgRectanVer" src="img/lingerie/imgFrany205.jpg" alt="Third slide"></a>
                </div>
                
              </div>
              <a class="carousel-control-prev" href="#!/Blogs" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="##!/Blogs" role="button" data-slide="next">
                <span class="carousel-control-next-icon" ></span>
                <span class="sr-only">Next</span>
              </a>
            <h1 class="container text-center alert-light">Lingerie</h1>
             </div>  
            </div>
            </div>
</div>
<div class="container text-center">
        <div class="col">
                <div class="contenedorSlider container" >
                    <div id="carouselExampleControls" class="carousel slide container" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                        <a href="#!/nuArtistique"><img class="imgRectanVer" src="img/nuartistique/imgFrany100.jpg" alt="First slide"></a>
                </div>
                <div class="carousel-item">
                        <a href="#!/nuArtistique"><img class="imgRectanVer" src="img/nuartistique/imgFrany107.jpg" alt="Second slide"></a>
                </div>
                <div class="carousel-item ">
                        <a href="#!/nuArtistique"><img class="imgRectanVer" src="img/nuartistique/imgFrany103.jpg" alt="Third slide"></a>
                </div>
                
              </div>
            
            <h1 class="alert-light">Nu artistique</h1>
             </div>  
            </div>
            </div>
</div>