<!-----<div class="container text-center" ng-controller="CarouselController" ng-init='setImages(["img/sport/imgFrany401.jpg","img/sport/imgFrany402.jpg","img/sport/imgFrany403.jpg","img/sport/imgFrany404.jpg","img/sport/imgFrany405.jpg","img/sport/imgFrany406.jpg","img/sport/imgFrany407.jpg","img/sport/imgFrany408.jpg"])'>
        <i ng-click="prevImage()" class="fa fa-angle-left fa-5x pointer"></i>
        <div my-background-image='image' class="wide" swipe-left="nextImage()" swipe-right="prevImage()"></div>
        <i ng-click="nextImage()" class="fa fa-angle-right fa-5x pointer"></i>
      </div>-->
     
<div class="container" ng-controller = 'SportController'>
    <galeria-img></galeria-img>
</div>