


<div class="container">
    <div class="row">
        <div class="col-md-3"  style="background-color:#aaa">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lGi7kTY-zC4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-3"  style="background-color:#bbb">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/_xsj7hlDgJg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-3"  style="background-color:#ccc">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zPD4F80iSd4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
</div>