<hr>
<div class="container" ng-controller = "contactoGmailController">
    
   <span ng-click="normalDialog()"><img src="img/iconos/gmailcolor.png" height="35" width="35"></span>
   <span ng-click=""><img src="img/iconos/imgInstagramcolor.png" height="35" width="35"></span>
   <span ng-click="dialogWhatsApp()"><img src="img/iconos/imgWhatsappColor.png" height="35" width="35"></span>
    <a href="https://www.youtube.com/channel/UCytVo1DsaqF8FPMb4b6x2BQ" target="_blank"><img src="img/iconos/youtubeIcono.png" height="35" width="35">
     
   </a> 
    </div>